a {
    font-size: 21px;
    color: darkslateblue;
    text-decoration: none;

    &.active {
        color: red;
        text-decoration: underline;
    }

    &:not(:last-child) {
        margin-right: 5px;
    }

    &:hover:not(.active) {
        color: darkviolet;
    }
}
