@import 'normalize.css';

:root {
    font-family: system-ui, sans-serif;
    background-color: #f0f8ff;
    color: #161619;

    & body {
        min-height: 100vh;
    }

    & ul {
        padding: 0;

        & li {
            list-style: none;
            font-weight: 500;
        }
    }
}
